.genre-container {
	color: rgb(151, 145, 145);
}
.genre-poster {
	margin: 2em 2em 2em 0;
	float: left;
}
.genre-title {
	margin-top: 2em;
	margin-bottom: 1em;
}
.genre-description {
	margin-bottom: 1em;
}
