.movie-view {
	color: rgb(151, 145, 145);
	margin-top: 2em;
}
.movie-poster {
	max-width: 300px;
	float: left;
	margin-right: 2em;
}
.movie-title {
	padding-top: 2em;
}
.movie-info-section {
	margin-bottom: 1em;
}
.link-section {
	padding-left: 0;
}
